<web-app>

  <!-- General description of the Web application -->
  <display-name>
     CNT 4714 Fall 2022 Project 4
  </display-name>

  <description>
     This is the Web application for Project 4.
  </description>

  <!-- Servlet definitions and mappings  -->
  <servlet>
    <servlet-name>Client User</servlet-name>
    <description>Execute SQL queries as a client-level user.</description>
    <servlet-class>ClientUserApp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Client User</servlet-name>
    <url-pattern>/ClientUserApp</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Root User</servlet-name>
    <description>Execute SQL queries as a root-level user.</description>
    <servlet-class>RootUserApp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Root User</servlet-name>
    <url-pattern>/RootUserApp</url-pattern>
  </servlet-mapping>

</web-app>